html,
body {
  height: 100%;
  width: 100%;
}
body {
  background-color: black;
  color: white;
}
#box1 {
  height: 200px;
  width: 200px;
  background: red;
}
#box2 {
  height: 200px;
  width: 200px;
  background: red;
}
#box3 {
  height: 200px;
  width: 200px;
  background: lightgreen;
}

#text-con {
  text-align: center;
  margin-top: 50px;
  font-family: monospace;
  font-size: x-large;
}
