* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: black;
  color: black;
}
body {
  overflow-x: hidden;
}

#page1 {
  height: 70%;
  width: 100%;
  background-color: rgb(0, 0, 0);
}
#page2 {
  height: 100%;
  width: 100%;
  background-color: rgb(154, 215, 235);
}

#page2 h2 {
  font-size: 40vw;
  text-transform: uppercase;

  font-weight: 300;
  padding: 5vw 0;
}

#page3 {
  height: 100%;
  width: 100%;
  background-color: rgb(7, 7, 7);
}
